.item{
    color: blue;
    text-align: center;
    font-size: 1.5rem;
    list-style-type: none;
}

.expense{
    border-right:7px solid red;
}
.income{
    border-right:7px solid  green;
}
.expense span ,.income span{
    margin:0px;
}